* {
  margin:0;
  padding:0;
  box-sizing:border-box;

}

h1 {
  color: white;
}

body {
  background-image: url(https://1.bp.blogspot.com/-X5Jin0sO_FY/YFTKPdurtSI/AAAAAAAABrI/3rS-DoVUMbYClM9N7GfdIE2g6SMuGBF9ACLcBGAsYHQ/s1920/samuraiwarriors.jpg);
}

.busca {
margin:15px;
}



btn {
  font-family: sans-serif;
  font-size:18px;
  color: rgb(0, 140, 255);
}

